*{
	box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

/*
.page-header{
	left: 0;
	top: 0;
}*/


.container{
	background-color: red;
}

#bootstrap-overrides-header-top{
	display: flex;
	background-color: #dc3545;
}

#login{
	font: bold 13px/24px "Roboto Condensed",sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.flex-xs-6{
	width: 50%;
}

.jc-fe{
	justify-content: flex-end;
}



.login.button{
	
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 24px;
}



.subscribe.button{
	background-color: #ffe400;
    color: black;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

button{
    color: red;
}