*{
	box-sizing: border-box;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    list-style: none;
}

html, body{
    font-family: "Roboto Condensed",sans-serif;
    background-color: #f4f5f6;

}

.container-fluid{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.logo-small{
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
}

.d-flex.fe{
    justify-content: flex-end;
}

.header-top{
    background-color: #f72210;
    position: relative;
    z-index: 2;
    padding: 15px;
    font: 16px/34px "Roboto Condensed",sans-serif;
    color: #fff;
}

.weather{
    font: 15px/34px "Roboto Condensed",sans-serif;
    font-weight: bold;
}

.weather-icon{
    width: 24px;
    height: 24px;
    margin: 0;
}

.brand svg{
    fill: white;
}

#login{
	font: bold 13px/24px "Roboto Condensed",sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.btn.login, .btn.subscribe{
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 12px;
}

.btn.login{
    color: white;
}

.btn.subscribe{
	background-color: #ffe400;
    color: black;
    border-radius: 24px;
    height: 40px;
}


/*nav*/
.header-bottom{
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid #f4f5f7;
    z-index: 1;
    position: relative;
}

.header-bottom-ul{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.7;
   /* padding: 15px 0;*/
    font-size: 16px;
}

.leaf{
    color: black;
    border-left-color: #d9d9d9;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    /*justify-content: space-between;*/
}

.leaf:hover{
    color: #f72210;
}

.border-left{
    border-left: 1px solid #d9d9d9;
}

.nav-item{    
    list-style: none;
    text-align: center;
    flex-grow: 1;

}

.flex-align-center{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#search{
    width: 60px;
}

.header-bottom::before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}
    
/*trending-topics-wrapper*/
.trending-topics-wrapper{
    width: 100%;
    padding-top: 16px;
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    margin-right: -160px;
    margin-bottom: -10px;
    position: relative;
    border-bottom: 1px solid #dedede;
    /*border-top-width: 2px;*/
    /*margin-top: 13px;*/
}

.trending-topics{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    /*text-align: center;*/
}

.trending-topics li{
    text-align: center;
    padding: 0 0 0 30px;
    transform: uppercase;
    
}

.trend-text{
    font: 14px "Roboto Condensed",sans-serif;
    font-weight: 700;
    color: #807f84;
}

.trend-text:hover{
    color: #f72210;
    text-decoration: none;
}


/*main*/

.main{
    padding-top: 30px;
    padding-left: 20px;
}

.left-section{
    position: relative;
    /*height: 2687px;*/
    /*  height: 2300px;*/
    width: 100%;
}


.section-padding{
    padding: 0 10px;
    width: 100%;

}


.featured-stroy{
    padding-left: 15px;
    width: 30%;
}

.title{
    color: rgba(3,3,3,.4);
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.story-img{
    width: 100%;
}



.story-article-header{
    margin: 1rem 0;
    line-height: 1.2;
}

.story-article-header-text{
    font-size: 1.2rem;
    font-weight: 800;
    /*line-height: 25px;*/
    padding-bottom: 10px;
    position: relative;
    color: #333;
}

.story-article-header:hover{
    color: #f72210;
    text-decoration: none;
}

.summary{
    font-size: 15px;
    line-height: 20px;
    font-family: Arial,Helvetica,sans-serif;
}

/*top story*/
.top-stroy{
    width: 40%;
    
}

.article-padding{
    padding-bottom: 20px;
}

/*3 colums*/

.culture-stories{
    margin-left: -10px;
    margin-right: -10px;    
}

.culture-item{
    padding: 0 10px;
    flex:1;
}

/*.culture-item-img img{
    height: 153px;
    width: 153px;
}*/


.info{
    padding: 15px 0 20px;
    line-height: 1.2;
}

.culture-item-text{
    font-size: 1rem;
    font-family: "Roboto Condensed",sans-serif;
    color: rgba(3,3,3,.5);
    margin-bottom: 10px;
    font-weight: 700;
    line-height: none;
}

/*<!-- more strories -->*/
/*.header-more-stories{
    border-bottom: 1px solid #dedede;
}
*/

/*more stories*/
.article-wrapper{
    padding: 14px 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;

}

.more-story-img{
    position: relative;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}

.color-bl{
    color: #333;
}

/*right-section-debate*/
.right-section-debate{

    width: 30%;
    position: relative;
    padding: 0 10px;
}

.debate-item-r{
    border-top: 4px solid #f92859;
    padding-top: 10px;
    padding-bottom: 4px;
}

.debate-img{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    /*background: url() center no-repeat #f72210;*/
    /*overflow: hidden;*/
    /*top: 50%;
    left: 50%;*/
}

.debate-img-div{
    margin-right: 15px;
}

.debate-title{
    font-size: 17px;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 700;
    color: #333;
} 

.debate-header{
    padding-top: 3px;
    line-height: 1;
}

.byline{
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-transform: uppercase;
    margin-top: 4px;
}

.deco{
    position: relative;
}

.deco::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
}

.deco::after{
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14px;
}

.c-vs{
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed",sans-serif;
    text-align: center;
    margin: 6px auto;
}

.debate-item-d{
    border-bottom: 4px solid #1c87fb;
    /*padding-top: 10px;*/
    padding-bottom: 12px;
}

.Opinion-item{
    border-bottom: 1px solid #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
}


.opinion.byline{
    font-size: 12px;
    /*font-weight: 700;*/
}

.nw-signup{
    max-width: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    padding: 20px;
}


.n-logo{
    width: 30px;
    height: 30px;
    background-color: #f72210;
    margin-right: 8px;
}

.sign-uptext{
    font: 19px;
    font-weight: 700;
    font-family:"Roboto Condensed",sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1.2;
    padding-left: 5px;
}


/*input.form-submit, input.form-text{
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 0;
    font-family: "Roboto Condensed",sans-serif;
}
*/

.form-text,.form-submit{
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.form-text{
    color: #555;
    font-size: 14px;
    font-family: "Helvetica",sans-serf;
    background-color: white;
    border: 1px solid #e0e1e1;
    text-indent: 9px;
}
    
.form-submit {
    margin-top: 8px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    background: #f61602;
    border-radius: 3px;
}


/*footer*/
.page-footer {
    padding: 30px;
    /*padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;*/
    background-color: white;
    position: relative;
}

.footer-header{
    border-bottom: 1px solid #dedede;
}

#logo-footer-color{
    display: block;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 10px;
    fill: #f72210;
}


.social-li{
    margin-bottom: 4px;
}

.social-item{
    margin-left: 10px;
}

.social-logo{
   color: #212529;
   line-height: 24px;
   font-size: 25px;
   font-family: "Genericons";
   cursor: pointer;
}

.copyright{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
}

.footer-bottom{
    padding-top: 10px;
}

.right-border{
    border-right: 1px solid #d9d9d9;
}

.ed-lable{
    margin-right: 15px;
}

.edition-item{
    padding-right: 10px;
    margin-right: 10px;
}

.edition-item a{
    font-size: 14px;
    line-height: 15px;
    color: #666;
}

.inline-bl{
    display: inline-block;
}



/*media query*/

@media (max-width: 992px){
    .navbar{
        display: none;
    }

    .featured-stroy{
        width: 45%;
    } 
    .top-stroy{
        width: 55%;
    }

    .right-section-debate{
       
        width: 100%;
    }
    .brand {
        height: 20px;
    }
    .brand svg{
        height: 20px;
        position: relative;
        bottom: 5px;
    }

    .logo-small{
        height: 0;
    }
}

@media (max-width: 767px){
    .navbar{
        display: none;
    }

    .featured-stroy{
        width: 100%;
    } 
    .top-stroy{
        width: 100%;
    }

    .right-section-debate{
       
        width: 100%;
    }

    .culture-stories.d-flex{
        display: block;
    }

    .culture-item{        
        width: 100%;
    }

    .brand {
        height: 20px;
    }
    .brand svg{
        height: 20px;
        position: relative;
        bottom: 5px;
    }

    .logo-small{
        height: 0;
        margin: 0;
    }
}

@media (max-width: 400px){
    .navbar{
        display: none;
    }

    .featured-stroy{
        width: 100%;
    } 
    .top-stroy{
        width: 100%;
    }

    .right-section-debate{
       
        width: 100%;
    }

    .culture-stories.d-flex{
        display: block;
    }

    .culture-item{        
        width: 100%;
    }
}


