*{
	box-sizing: border-box;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    list-style: none;
}

html, body{
    font-family: "Roboto Condensed",sans-serif;
    background-color: #f4f5f6;

}

.container-fluid{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.logo-small{
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
}

.d-flex.fe{
    justify-content: flex-end;
}

.header-top{
    background-color: #f72210;
    position: relative;
    z-index: 2;
    height: 95px;
    padding: 20px 10px 15px;
    font: 16px/34px "Roboto Condensed",sans-serif;
    color: #fff;
}

.weather{
    font: 15px/34px "Roboto Condensed",sans-serif;
    font-weight: bold;
}

.weather-icon{
    width: 24px;
    height: 24px;
    margin: 0;
}

.brand svg{
    fill: white;
}

#login{
	font: bold 13px/24px "Roboto Condensed",sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.btn.login, .btn.subscribe{
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 12px;
}

.btn.login{
    color: white;
}

.btn.subscribe{
	background-color: #ffe400;
    color: black;
    border-radius: 24px;
    height: 40px;
}


/*nav*/
.header-bottom{
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid #f4f5f7;
    z-index: 1;
    position: relative;
}

.header-bottom-ul{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.7;
   /* padding: 15px 0;*/
    font-size: 16px;
}

.leaf{
    color: black;
    border-left-color: #d9d9d9;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
    /*justify-content: space-between;*/
}

.leaf:hover{
    color: #f72210;
}

.border-left{
    border-left: 1px solid #d9d9d9;
}

.nav-item{    
    list-style: none;
    text-align: center;
    flex-grow: 1;

}

.flex-align-center{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#search{
    width: 60px;
}

.header-bottom::before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}
    
/*trending-topics-wrapper*/
.trending-topics-wrapper{
    width: 100%;
    padding-top: 16px;
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    margin-right: -160px;
    margin-bottom: -10px;
    position: relative;
    border-bottom: 1px solid #dedede;
    /*border-top-width: 2px;*/
    /*margin-top: 13px;*/
}

.trending-topics{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    /*text-align: center;*/
}

.trending-topics li{
    text-align: center;
    padding: 0 0 0 30px;
    transform: uppercase;
    
}

.trend-text{
    font: 14px "Roboto Condensed",sans-serif;
    font-weight: 700;
    color: #807f84;
}

.trend-text:hover{
    color: #f72210;
    text-decoration: none;
}


/*main*/

.main{
    padding-top: 30px;
    padding-left: 20px;
}

.left-section{
    position: relative;
    height: 2687px;
    width: 100%;
}


.section-padding{
    padding: 0 10px;
    width: 100%;

}


.featured-stroy{
    padding-left: 15px;
    width: 40%;
}

.top-stroy{
    width: 60%;
}

.story-img{
    width: 100%;
}



.right-section{
    width: 29%;
    position: relative;
}

.story-article-header{
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    color: #333;
}

.story-article-header:hover{
    color: #f72210;
    text-decoration: none;
}

.summary{
    font-size: 15px;
    line-height: 20px;
    font-family: Arial,Helvetica,sans-serif;
}

/*media query*/

@media (max-width: 992px){
    .navbar{
        display: none;
    }
}